<!DOCTYPE html>
<html lang="en">


  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    
    <title>Heart Diseases Analysis</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/map.css">


    <!-- Custom styles for this template -->
    <link href="css/carousel.css" rel="stylesheet">

  </head>
  <body>
    <nav class="navbar navbar-static-top navbar-light bg-faded">
      <ul class="nav navbar-nav" style="margin: 19px 4px 13px 0px;">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/source_code">Sourcecode & System</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/data_structure">Predictive Model & Machine Learning</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/form">Heart Disease Risk</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/visual">Data Exploration</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/quality">Data Quality & About</a>
        </li>
      </ul>
    </nav>
    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="carousel-item active" style="height:40rem !important;">
          <img class="first-slide" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="First slide">
          <div class="container">
            <div class="carousel-caption">
              <h2>Heart Disease in Women</h2>
              <p>Heart disease is the number one cause of death for both men and women in the United States. Cancer and stroke round out the top three.</p>
              <p><img src="static/images/image_1.jpeg" height="240" width="500"></br></p>
            </div>
          </div>
        </div>
        <div class="carousel-item" style="height:40rem !important;">
          <img class="second-slide" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Second slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Growing CardioVascular Diseases</h1>
              <p>Cardiovascular disease is the leading global cause of death, accounting for 17.3
                 million deaths per year, a number that is expected to grow to more than 23.6
                 million by 2030. </p>
                 <p><img src="static/images/image_2.jpeg" height="240" width="500"></br></p>
            </div>
          </div>
        </div>
        <div class="carousel-item" style="height:40rem !important;">
          <img class="third-slide" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Third slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Costs of Heart Diseases</h1>
              <p>Direct and indirect costs of cardiovascular diseases and stroke total more than
                 $320.1 billion. That includes health expenditures and lost productivity. </p>
                 <p><img src="static/images/image_3.jpg" height="240" width="500"></br></p>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div><!-- /.carousel -->
    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->


    <div class="jumbotron">
      <h1>What is Heart disease?</h1>
      <p>Heart disease, also known as coronary heart disease, encompasses a class 
      of illnesses; all of which involve the heart, its vessels, and more. A brief
      overview is provided below. </p>
    </div>

      <!-- Three columns of text below the carousel -->
      <div align="center">
        <div class="row">
          <div class="col-lg-4">
            <img class="img-circle" src="static/images/coronary.png" alt="periph">
            <h2>Coronary Artery Disease</h2>
            <p>Narrowed arteries that deliver limited amounts of blood.</p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <img class="img-circle" src="static/images/bloodpressure.png" alt="periph">
            <h2>High Blood Pressure</h2>
            <p>A condition in which the force of the blood against the artery walls is too high.</p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <img class="img-circle" src="static/images/congestive.png" alt="periph">
            <h2>Congestive Heart Disease</h2>
            <p>A chronic condition in which the heart inefficiently pumps blood.</p>
          </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->
        <div class="row">
          <div class="col-lg-4">
            <img class="img-circle" src="static/images/per.png" alt="periph">
            <h2>Peripheral Artery Disease</h2>
            <p>A circulatory condition in which narrowed blood vessels reduce blood flow to the limbs.</p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <img class="img-circle" src="static/images/arrythmia.png" alt="periph">

            <h2>Arrythmia</h2>
            <p>Improper beating of the heart, whether irregular, too fast, or too slow.</p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <img class="img-circle" src="static/images/congenital.png" alt="periph">
            <h2>Congential Heart Disease</h2>
            <p>An abnormality in the heart that develops before birth.</p>
          </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->
      </div>



    <!--WHAT IS HEART DISEASE -->
    <div>
    </div>

      <div align="center">
          <!--ADULTS WITH HEART DISEASE -->
              <h1>Percent of Adults with Heart Disease</h1>
              <a href="http://kff.org/other/state-indicator/percent-of-adults-with-cardiovascular-disease/#table">data source</a>
          <div class="row">
            <div id="statetooltip"><svg id="extra"></svg></div>
            <svg width = "960" height ="600" id="diagnosed"></svg>
          </div>
      </div>



    <!--MAP VIZ -->


      <div align="center">
          <h1>Number of Heart Disease Deaths per 100,000 Population</h1>
          <p>With the following maps, you can explore how many heart disease deaths 
          occur by gender in your own state and compare it to others. Are you living
          in a state where high rates of heart disease? These visuals should give you 
          a sense of the general rates of heart disease mortality in the US. 
          </p>

          <button id="both" type="button" class="btn danger-secondary">Both</button>
          <button id="female" type="button" class="btn danger-secondary">Female</button>
          <button id="male" type="button" class="btn danger-secondary">Male</button>
        
          <div class="container">
            <svg width="960" height="600" id="statesvg"></svg>
            <svg width="960" height="600" id="femaleStates"></svg>
            <svg width="960" height="600" id="maleStates"></svg>
          </div>
      </div>

      <div id="tooltip"></div>

     

      <div class="jumbotron">
          <h1><i>What is my risk of having heart disease?</i></h>
          <p>Using our predictive model, you can receive a personalized assesment 
          your hear disease risk.</p>
          <a href="/form" class="btn btn-secondary">Get Started Now</a>
      </div>

      <!-- FOOTER -->
      <footer>
        
      </footer>

    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/jquery.min.js"><\/script>')</script>
    <script src="js/bootstrap.min.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="js/holder.min.js"></script>

        <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/uStates.js"></script> <!-- creates uStates. -->
    <script src="js/uStates2.js"></script> <!-- creates uStates. -->

    <script src="js/jquery-1.11.3.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="d3/d3.v3.js"></script>

    <script>
            // ----------- EVERY CHART NEEDS DATA -------------- 
              function tooltipHtml(n, d){ /* function to create html content string in tooltip div. */
                console.log(d)
                return "<h4>"+n+"</h4><table>"+
                  "<tr><td>Death Count: </td><td>"+" "+d.count+"</td></tr>"+
                  "</table>";
              }

              //create a svg in svg thing
              function tool(n, d){
              }

              function statetooltipHtml(n, d) {
                return "<h4>"+n+"</h4><table>"+
                  "<tr><td>Percent of Adults: </td><td>"+100*(d.percent)+"%"+"</td></tr>"+
                  "</table>";
              }
                
                
                //Data Format?
                var stateData = {{both|safe}};
                var femaleData = {{female|safe}}
                var maleData = {{male|safe}}
                var femaleAv = {{femaleAv|safe}} 
                var maleAv = {{maleAv|safe}}
                var bothAv = {{bothAv|safe}}

                var states = {
                        'AK': 'Alaska',
                        'AL': 'Alabama',
                        'AR': 'Arkansas',
                        'AS': 'American Samoa',
                        'AZ': 'Arizona',
                        'CA': 'California',
                        'CO': 'Colorado',
                        'CT': 'Connecticut',
                        'DC': 'District of Columbia',
                        'DE': 'Delaware',
                        'FL': 'Florida',
                        'GA': 'Georgia',
                        'GU': 'Guam',
                        'HI': 'Hawaii',
                        'IA': 'Iowa',
                        'ID': 'Idaho',
                        'IL': 'Illinois',
                        'IN': 'Indiana',
                        'KS': 'Kansas',
                        'KY': 'Kentucky',
                        'LS': 'Louisiana',
                        'MA': 'Massachusetts',
                        'MD': 'Maryland',
                        'ME': 'Maine',
                        'MI': 'Michigan',
                        'MN': 'Minnesota',
                        'MO': 'Missouri',
                        'MP': 'Northern Mariana Islands',
                        'MS': 'Mississippi',
                        'MT': 'Montana',
                        'NA': 'National',
                        'NC': 'North Carolina',
                        'ND': 'North Dakota',
                        'NE': 'Nebraska',
                        'NH': 'New Hampshire',
                        'NJ': 'New Jersey',
                        'NM': 'New Mexico',
                        'NV': 'Nevada',
                        'NY': 'New York',
                        'OH': 'Ohio',
                        'OK': 'Oklahoma',
                        'OR': 'Oregon',
                        'PA': 'Pennsylvania',
                        'PR': 'Puerto Rico',
                        'RI': 'Rhode Island',
                        'SC': 'South Carolina',
                        'SD': 'South Dakota',
                        'TN': 'Tennessee',
                        'TX': 'Texas',
                        'UT': 'Utah',
                        'VA': 'Virginia',
                        'VI': 'Virgin Islands',
                        'VT': 'Vermont',
                        'WA': 'Washington',
                        'WI': 'Wisconsin',
                        'WV': 'West Virginia',
                        'WY': 'Wyoming'
                    }


                var percentData = {{percentData|safe}}
                console.log(percentData);

                console.log(femaleData);

                var percentSample = {};
                ["HI", "AK", "FL", "SC", "GA", "AL", "NC", "TN", "RI", "CT", "MA",
                "ME", "NH", "VT", "NY", "NJ", "PA", "DE", "MD", "WV", "KY", "OH", 
                "MI", "WY", "MT", "ID", "WA", "DC", "TX", "CA", "AZ", "NV", "UT", 
                "CO", "NM", "OR", "ND", "SD", "NE", "IA", "MS", "IN", "IL", "MN", 
                "WI", "MO", "AR", "OK", "KS", "LS", "VA"]
                    .forEach(function(d){ 

                        var percent = (percentData[states[d]]);
                        console.log(percent)
                        percentSample[d]={percent:percent, color:d3.interpolate("#ffffcc", "#800026")(percent/100)}; 
                    });

                console.log(percentSample)

                var sampleData ={}; /* Sample random data. */   
                ["HI", "AK", "FL", "SC", "GA", "AL", "NC", "TN", "RI", "CT", "MA",
                "ME", "NH", "VT", "NY", "NJ", "PA", "DE", "MD", "WV", "KY", "OH", 
                "MI", "WY", "MT", "ID", "WA", "DC", "TX", "CA", "AZ", "NV", "UT", 
                "CO", "NM", "OR", "ND", "SD", "NE", "IA", "MS", "IN", "IL", "MN", 
                "WI", "MO", "AR", "OK", "KS", "LS", "VA"]
                    .forEach(function(d){ 
                        var fem = (femaleData[states[d]]);
                        var count = (stateData[states[d]]);
                        sampleData[d]={count:count, femCount:fem, color:d3.interpolate("#ffffcc", "#800026")(count/bothAv)}; 
                    });
                // data in format of: {StateName: {low, high, average, color}, StateName: {low, high, average, color}}
                
                /* draw states on id #statesvg */   

                var femaleSample = {};
                ["HI", "AK", "FL", "SC", "GA", "AL", "NC", "TN", "RI", "CT", "MA",
                "ME", "NH", "VT", "NY", "NJ", "PA", "DE", "MD", "WV", "KY", "OH", 
                "MI", "WY", "MT", "ID", "WA", "DC", "TX", "CA", "AZ", "NV", "UT", 
                "CO", "NM", "OR", "ND", "SD", "NE", "IA", "MS", "IN", "IL", "MN", 
                "WI", "MO", "AR", "OK", "KS", "LS", "VA"]
                    .forEach(function(d){ 
                        var count = (femaleData[states[d]]);
                        femaleSample[d]={count:count, color:d3.interpolate("#ffffcc", "#800026")(count/femaleAv)}; 
                    });

                var maleSample = {};
                ["HI", "AK", "FL", "SC", "GA", "AL", "NC", "TN", "RI", "CT", "MA",
                "ME", "NH", "VT", "NY", "NJ", "PA", "DE", "MD", "WV", "KY", "OH", 
                "MI", "WY", "MT", "ID", "WA", "DC", "TX", "CA", "AZ", "NV", "UT", 
                "CO", "NM", "OR", "ND", "SD", "NE", "IA", "MS", "IN", "IL", "MN", 
                "WI", "MO", "AR", "OK", "KS", "LS", "VA"]
                    .forEach(function(d){ 
                        var count = (maleData[states[d]]);
                        maleSample[d]={count:count, color:d3.interpolate("#ffffcc", "#800026")(count/maleAv)}; 
                    });

                uStates.draw("#statesvg", sampleData, tooltipHtml);
                uStates.draw("#femaleStates", femaleSample, tooltipHtml);
                uStates.draw("#maleStates", maleSample, tooltipHtml);

                uStates2.draw("#diagnosed", percentSample, statetooltipHtml);




            //AJAX SUPPORT
            $(document).ready(function(){
                $("#femaleStates").hide();
                $("#maleStates").hide();
                $("#both").attr("disabled", true);



                //Show only Female States
                $("#female").click(function(){
                    $("#statesvg").hide();
                    $("#maleStates").hide();
                    $("#femaleStates").show();

                    $("#male").attr("disabled", false);
                    $("#female").attr("disabled", true);
                    $("#both").attr("disabled", false);

                });
                //Show both gender states
                $("#both").click(function(){
                    $("#statesvg").show();
                    $("#femaleStates").hide();
                    $("#maleStates").hide();

                    $("#male").attr("disabled", false);
                    $("#female").attr("disabled", false);
                    $("#both").attr("disabled", true);

                });
                //Show only male states
                $("#male").click(function(){
                    $("#statesvg").hide();
                    $("#femaleStates").hide();
                    $("#maleStates").show();

                    $("#male").attr("disabled", true);
                    $("#female").attr("disabled", false);
                    $("#both").attr("disabled", false);
                });



            });
    </script>


  </body>
</html>
