<!DOCTYPE html>
<html lang="en">


  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    
    <title>Heart Diseases Analysis</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/map.css">


    <!-- Custom styles for this template -->
    <link href="css/carousel.css" rel="stylesheet">

  </head>
  <body>
    <nav class="navbar navbar-static-top navbar-light bg-faded">
      <ul class="nav navbar-nav" style="margin: 19px 4px 13px 0px;">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/source_code">Sourcecode & System</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/data_structure">Predictive Model & Machine Learning</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/form">Heart Disease Risk</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/visual">Data Exploration</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/quality">Data Quality & About</a>
        </li>
      </ul>
    </nav>


</head>
<body>
    {% if res  == 'True' %} 
        <div class="jumbotron">
            <div class="row">
                <div class="col-md-3">
                    <img src="static/images/risk-02.png" alt="risk">
                </div>
                <div class="col-md-9">
                    <h3>Based on our Prediction Model</h3>
                    <h1>You <i>are</i> at risk for heart disease.</h1>
                </div>
            </div>
        </div> 

        <!--What's Next?-->
        <div class="row">
            <div class="col-md-6">
            <h2>What's Next?</h2>
            <p> Please schedule an appointment with your doctor for a complete diagnoses
            and treadment. Treatment will be necessary to manage your symptoms and reduce 
            the risk of further problems. This can be done through a combination of 
            lifestyle changes, medicine and, in some cases, surgery.</p>

            <p>To receive an official diagnoses, your docto may need to perform several tests, 
            including chest X-rays, coronary angiograms, electrocardiograms (ECG or EKG), and
            exercise stress tests. 
            </p>
            </div>
        </div>
    

    {% else %}
        <div class="jumbotron">
            <div class="row">
                <div class="col-md-3">
                    <img src="static/images/risk-01.png" alt="risk">
                </div>
                <div class="col-md-9">
                    <h3>Based on our Prediction Model</h3>
                    <h1>You <i>are not</i> at risk for heart attack.</h1>
                </div>
                
            </div>
        </div> 

        <!--What's Next?-->
        <div>
        <h2>What's Next?</h2>
                <p>Even though you are not currently at risk, proper heart health 
                requires long-term healthy behaviors and life choices. Regularly 
                check your status.</p>
        </div>
        <div class="row">
            <div class="col-md-4">
                <h3 align="right">Reduce Your Future Risk of Heart Disease</h3>
            </div>
            <div class="col-md-4">
                    <br>
                  <ul>
                        <li>Don't Smoke</li>
                        <li>Maintain a Healthy Weight</li>
                        <li>Maintain a Healthy Diet</li>
                        <li>Exercise Regularly</li>
                    </ul>
            </div>
        </div>
    

                
            
    {% endif %}
               


</body>
</html>