<html>
    <head>
        <title>Handle POST requests with Flask</title>
        <link rel=stylesheet type=text/css href="{{  css_url }}">
    </head>
    <body>
        <div id="container">
            <div class="title">
                <h1>POST request with Flask</h1>
            </div>
            <div id="content">
                <form method="post" action="{{ submit_url }}">
                
      <div> age: <input type= "text" name= "age" placeholder= "50"></div><br>

      <div> sex: <select name= "sex">
      <option selected="0" disabled="disabled">Select</option>
      <option value="Male">1</option>
      <option value="Female">0</option></select></div><br>

      <div> Chest Pain Type: 
         <li> Value 1: Typical angina</li>
         <li> Value 2: Atypical angina</li>
         <li> Value 3: Non-anginal pain </li>
         <li> Value 4: Asymptomatic </li>
      
      <select name="chestpain">
      <option selected="1" disabled="disabled">Select</option>
      <option value="Typical angina">1</option>
      <option value="Atypical angina">2</option>
      <option value="Non-anginal pain">3</option>
      <option value="Asymptomatic">4</option>
      </select></div><br>
      
      <div> Resting Blood Pressure(in mm Hg): <input type= "text" name= "bp" placeholder = "120"></div><br>

      <div> Serum Chlolestrol (in mg/dl): <input type= "text" name= "chol" placeholder = "200"></div><br>

    

       <div> Maximum heart rate achieved: <input type= "text" name= "thalach" placeholder = "110"></div><br>

       <div> Exercise induced angina(pick 1 if yes else 0):

       <select name= "excercise">
       <option selected="0" disabled="disabled">Select</option>
       <option value=" True"> 1 </option>
       <option value =" False" > 0  </option>
       </select></div><br>

       <div> oldpeak:Excercise induced depression <input type= "text" name= "oldpeak" placeholder = "0"></div><br>
    
      <div><input type="submit" value="Submit"></div>
            </form>
        </div>
      </div>
    </body>
</html>
