<html>
    <head>
        <title>Handle POST requests with Flask</title>
        <link rel=stylesheet type=text/css href="{{  css_url }}">
    </head>
    <body>
        <div id="container">
            <div class="title">
                <h1>POST request with Flask</h1>
            </div>
            <div id="content">
                <form method="post" action="{{ submit_url }}">
                
      <div> age: <input type= "text" name= "age" placeholder= "50"></div><br>

      <div> sex: <select name= "sex">
      <option selected="0" disabled="disabled">Select</option>
      <option value= 1>Male</option>
      <option value= 0>Female</option></select></div><br>

      <div> Chest Pain Type: 
         <li> Value 1: Typical angina</li>
         <li> Value 2: Atypical angina</li>
         <li> Value 3: Non-anginal pain </li>
         <li> Value 4: Asymptomatic </li>
      
      <select name="chestpain">
      <option selected="1" disabled="disabled">Select</option>
      <option value=1>Typical anginal</option>
      <option value=2>Atypical angina</option>
      <option value=3>Non-anginal pain</option>
      <option value=4>Asymptomatic</option>
      </select></div><br>
      
      <div> Resting Blood Pressure(in mm Hg): <input type= "text" name= "bp" placeholder = "120"></div><br>

      <div> Serum Chlolestrol (in mg/dl): <input type= "text" name= "chol" placeholder = "200"></div><br>

    

       <div> Maximum heart rate achieved: <input type= "text" name= "thalach" placeholder = "110"></div><br>

       <div> Exercise induced angina(pick 1 if yes else 0):

       <select name= "excercise">
       <option selected="0" disabled="disabled">Select</option>
       <option value= 1> True </option>
       <option value = 0 > False  </option>
       </select></div><br>

       <div> oldpeak:Excercise induced depression <input type= "text" name= "oldpeak" placeholder = "0"></div><br>
    
      <div><input type="submit" value="Submit"></div>
            </form>
        </div>
      </div>
    </body>
</html>
