<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">
  <link href="css/d3.css" rel="stylesheet" type="text/css">
  <title>Heart Disease Analysis</title>
    
    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="css/parallel_viz.css" rel="stylesheet">
 </head>

  <body role="document">
    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container" >
        <div class="navbar-header">
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="">About This Data Set</a></li>
            <li><a href="quality">Data Quality</a></li>
            <li class="active"><a href="visual">Data Visualizations</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container theme-showcase" role="main">
      <!-- Main jumbotron for a primary marketing message or call to action --> 
      <div class="page-header">
      </div> <!-- /page-header -->
    </div> <!-- /container -->

    <div style="text-align:center;">

        <div id="tooltip"></div>
        <h>Number of Heart Disease Deaths per 100,000 Population</h>
        <p>With the following maps, you can explore how many heart disease deaths 
        occur by gender in your own state and compare it to others. Are you living
        in a state where high rates of heart disease? These visuals should give you 
        a sense of the general rates of heart disease mortality in the US. </p>
        <h2>For Females</h2>
        <svg width="960" height="600" id="statesvg"></svg> <!-- svg to hold the map. -->

        <h2>For All</h2>
        <svg width="960" height="600" id="femaleStates"></svg> <!-- svg to hold the map. -->
       
        <h2>For Males</h2>
        <svg width="960" height="600" id="maleStates"></svg> <!-- svg to hold the map. -->   
        
        <div style="text-align:left;">

          <div class="container">
            <h2>Conditions that Increase Risk for Heart Disease</h2>
            <ul>
              <li>High Blood Pressure</li>
              <li><b>High Cholesterol</b></li>
              <li>Diabetes</li>
            </ul>
            <h2>Look at our data values filtered by the following features and see how High Cholesterol is related.</h2>
            <div class="row">
              <div class="col-md-3">
                <div class="row"><h2>Age</h2></div>
                <div class="row"><p>Participants' age in years</p></div>
              </div>
              <div class="col-md-3">
                <div class="row"><h2>Gender</h2></div>
                <div class="row"><p>Participants' gender (1=male, 0= female)</p></div>
              </div>
              <div class="col-md-3">
                <div class="row"><h2>Cholesterol</h2></div>
                <div class="row"><p>Participants' serum cholesterol which is 
                composed of high-density lipoprotein (HDL cholesterol), low-density
                lipoprotein (LDL cholesterol) and triglycerides measured in mg/dL. 
                The American Heart Association defines normal total cholesterol 
                as less than 200 mg/dL.</p>
                </div>
              </div>
              <div class="col-md-3">
                <div class="row"><h2>Resting Electrocardiographic Measure</h2></div>
                <div class="row"><p>Rating of participants' electrocardiograph.</p></div>
              </div>
              </div>
            </div>

          </div>
        </div>
    </div>

</body>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/uStates.js"></script> <!-- creates uStates. -->
    <script src="js/jquery-1.11.3.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="d3/d3.v3.js"></script>

    <script>
    // ----------- EVERY CHART NEEDS DATA -------------- 

        function tooltipHtml(n, d){ /* function to create html content string in tooltip div. */
            return "<h4>"+n+"</h4><table>"+
                "<tr><td>Death Count </td><td>"+(d.count)+"</td></tr>"+
                "</table>";
        }
        
        //Data Format?
        var female = {{female|safe}}
        var data = {{both|safe}}
        var male = {{male|safe}}

        var states = {
                'AK': 'Alaska',
                'AL': 'Alabama',
                'AR': 'Arkansas',
                'AS': 'American Samoa',
                'AZ': 'Arizona',
                'CA': 'California',
                'CO': 'Colorado',
                'CT': 'Connecticut',
                'DC': 'District of Columbia',
                'DE': 'Delaware',
                'FL': 'Florida',
                'GA': 'Georgia',
                'GU': 'Guam',
                'HI': 'Hawaii',
                'IA': 'Iowa',
                'ID': 'Idaho',
                'IL': 'Illinois',
                'IN': 'Indiana',
                'KS': 'Kansas',
                'KY': 'Kentucky',
                'LS': 'Louisiana',
                'MA': 'Massachusetts',
                'MD': 'Maryland',
                'ME': 'Maine',
                'MI': 'Michigan',
                'MN': 'Minnesota',
                'MO': 'Missouri',
                'MP': 'Northern Mariana Islands',
                'MS': 'Mississippi',
                'MT': 'Montana',
                'NA': 'National',
                'NC': 'North Carolina',
                'ND': 'North Dakota',
                'NE': 'Nebraska',
                'NH': 'New Hampshire',
                'NJ': 'New Jersey',
                'NM': 'New Mexico',
                'NV': 'Nevada',
                'NY': 'New York',
                'OH': 'Ohio',
                'OK': 'Oklahoma',
                'OR': 'Oregon',
                'PA': 'Pennsylvania',
                'PR': 'Puerto Rico',
                'RI': 'Rhode Island',
                'SC': 'South Carolina',
                'SD': 'South Dakota',
                'TN': 'Tennessee',
                'TX': 'Texas',
                'UT': 'Utah',
                'VA': 'Virginia',
                'VI': 'Virgin Islands',
                'VT': 'Vermont',
                'WA': 'Washington',
                'WI': 'Wisconsin',
                'WV': 'West Virginia',
                'WY': 'Wyoming'
            }

        var sampleData ={}; /* Sample random data. */   
        ["HI", "AK", "FL", "SC", "GA", "AL", "NC", "TN", "RI", "CT", "MA",
        "ME", "NH", "VT", "NY", "NJ", "PA", "DE", "MD", "WV", "KY", "OH", 
        "MI", "WY", "MT", "ID", "WA", "DC", "TX", "CA", "AZ", "NV", "UT", 
        "CO", "NM", "OR", "ND", "SD", "NE", "IA", "MS", "IN", "IL", "MN", 
        "WI", "MO", "AR", "OK", "KS", "LS", "VA"]
            .forEach(function(d){ 
                var count = (data[states[d]]);
                sampleData[d]={count:count, color:d3.interpolate("#ffffcc", "#800026")(count/200)}; 
            });

        var femaleSample = {};
        ["HI", "AK", "FL", "SC", "GA", "AL", "NC", "TN", "RI", "CT", "MA",
        "ME", "NH", "VT", "NY", "NJ", "PA", "DE", "MD", "WV", "KY", "OH", 
        "MI", "WY", "MT", "ID", "WA", "DC", "TX", "CA", "AZ", "NV", "UT", 
        "CO", "NM", "OR", "ND", "SD", "NE", "IA", "MS", "IN", "IL", "MN", 
        "WI", "MO", "AR", "OK", "KS", "LS", "VA"]
            .forEach(function(d){ 
                var count = (female[states[d]]);
                femaleSample[d]={count:count, color:d3.interpolate("#ffffcc", "#800026")(count/100)}; 
            });

        var maleSample = {};
        ["HI", "AK", "FL", "SC", "GA", "AL", "NC", "TN", "RI", "CT", "MA",
        "ME", "NH", "VT", "NY", "NJ", "PA", "DE", "MD", "WV", "KY", "OH", 
        "MI", "WY", "MT", "ID", "WA", "DC", "TX", "CA", "AZ", "NV", "UT", 
        "CO", "NM", "OR", "ND", "SD", "NE", "IA", "MS", "IN", "IL", "MN", 
        "WI", "MO", "AR", "OK", "KS", "LS", "VA"]
            .forEach(function(d){ 
                var count = (male[states[d]]);
                maleSample[d]={count:count, color:d3.interpolate("#ffffcc", "#800026")(count/100)}; 
            });

        // data in format of: {StateName: {low, high, average, color}, StateName: {low, high, average, color}}
        
        /* draw states on id #statesvg */   
        uStates.draw("#statesvg", sampleData, tooltipHtml);
        uStates.draw("#femaleStates", femaleSample, tooltipHtml);
        uStates.draw("#maleStates", maleSample, tooltipHtml);

        var margin = {top: 30, right: 10, bottom: 10, left: 10},
    width = 960 - margin.left - margin.right,
    height = 500 - margin.top - margin.bottom;

var x = d3.scale.ordinal().rangePoints([0, width], 1),
    y = {},
    dragging = {};

var line = d3.svg.line(),
    axis = d3.svg.axis().orient("left"),
    background,
    foreground;

var svg = d3.select("body").append("svg")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
  .append("g")
    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

d3.csv("data/for_viz.csv", function(error, cars) {

  // Extract the list of dimensions and create a scale for each.
  
  x.domain(dimensions = d3.keys(cars[0]).filter(function(d) {

    return d != "name" && (y[d] = d3.scale.linear()
        .domain(d3.extent(cars, function(p) { return +p[d]; }))
        .range([height, 0]));
  }));

  // Add grey background lines for context.
  background = svg.append("g")
      .attr("class", "background")
    .selectAll("path")
      .data(cars)
    .enter().append("path")
      .attr("d", path);

  // Add blue foreground lines for focus.
  foreground = svg.append("g")
      .attr("class", "foreground")
    .selectAll("path")
      .data(cars)
    .enter().append("path")
      .attr("d", path);

  // Add a group element for each dimension.
  var g = svg.selectAll(".dimension")
      .data(dimensions)
    .enter().append("g")
      .attr("class", "dimension")
      .attr("transform", function(d) { return "translate(" + x(d) + ")"; })
      .call(d3.behavior.drag()
        .origin(function(d) { return {x: x(d)}; })
        .on("dragstart", function(d) {
          dragging[d] = x(d);
          background.attr("visibility", "hidden");
        })
        .on("drag", function(d) {
          dragging[d] = Math.min(width, Math.max(0, d3.event.x));
          foreground.attr("d", path);
          dimensions.sort(function(a, b) { return position(a) - position(b); });
          x.domain(dimensions);
          g.attr("transform", function(d) { return "translate(" + position(d) + ")"; })
        })
        .on("dragend", function(d) {
          delete dragging[d];
          transition(d3.select(this)).attr("transform", "translate(" + x(d) + ")");
          transition(foreground).attr("d", path);
          background
              .attr("d", path)
            .transition()
              .delay(500)
              .duration(0)
              .attr("visibility", null);
        }));

  // Add an axis and title.
  g.append("g")
      .attr("class", "axis")
      .each(function(d) { d3.select(this).call(axis.scale(y[d])); })
    .append("text")
      .style("text-anchor", "middle")
      .attr("y", -9)
      .text(function(d) { return d; });

  // Add and store a brush for each axis.
  g.append("g")
      .attr("class", "brush")
      .each(function(d) {
        d3.select(this).call(y[d].brush = d3.svg.brush().y(y[d]).on("brushstart", brushstart).on("brush", brush));
      })
    .selectAll("rect")
      .attr("x", -8)
      .attr("width", 16);
});

function position(d) {
  var v = dragging[d];
  return v == null ? x(d) : v;
}

function transition(g) {
  return g.transition().duration(500);
}

// Returns the path for a given data point.
function path(d) {
  return line(dimensions.map(function(p) { return [position(p), y[p](d[p])]; }));
}

function brushstart() {
  d3.event.sourceEvent.stopPropagation();
}

// Handles a brush event, toggling the display of foreground lines.
function brush() {
  var actives = dimensions.filter(function(p) { return !y[p].brush.empty(); }),
      extents = actives.map(function(p) { return y[p].brush.extent(); });
  foreground.style("display", function(d) {
    return actives.every(function(p, i) {
      return extents[i][0] <= d[p] && d[p] <= extents[i][1];
    }) ? null : "none";
  });
}

    </script>
</html>